// SITE

html {
  font-size: 62.5%;
}

body {
  @include font-size(18);
  background-color: $background;
  color: $textcolor;
  font-family: $basefont;
  font-weight: 300;
  line-height: $baselineheight;
  margin: 0;
}

.entry-title {
  font-weight: 400;
}

.btn-primario {
  background-color: $basecolor;
  border-color: $basecolor-dark;
  color: $white;

  &:hover,
  &:focus {
    background-color: $basecolor-dark;
    color: $white !important;
  }

  &:visited {
    color: $white;
  }
}

.embed-container {
  height: auto;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

// END of SITe
